html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/download.jpg); /* background picture of my Diary */
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.banner {
  /* color: #d54d7b; */
  /* text-shadow: 3px 2px #d54d7b; */
  text-shadow: 2px 2px #d54d7b;
  font-family: "Great Vibes", cursive;
  font-size: 100px;
  line-height: 165px;
  margin-bottom: 10px;
  margin-top: 30px; text-align: center;
  }
  .motto {
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 20px;
    text-shadow: 0 1px 1px #fff;
    margin-bottom: 10px;
    text-align: center;
    }
/*cool getting started button*/

.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.welcome-box{
    width: 600px;
    height: 420px;
    margin-top: 50px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.push-left {
    text-shadow: 3px 2px #d54d7b;

    }
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.forgot-password
{
    color: rgb(184, 22, 22);
    text-align: center;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 16px;
    color: red ;
    font-weight: 900;
}
.login-box a:hover
{
    color: #39dc79;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
* {font-family: 'Calibri' ;-webkit-box-flex: center; -webkit-flex:center;-ms-flex: center; flex: center; }

a.ghost {
  color:#d54d7b;
  border: 1px solid #d54d7b;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
  padding: 8px;
  margin: 10px;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}
a.ghost:hover, a.ghost:focus {
  background-color: #d54d7b;
  color: #000;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
}
title {
    display: none;
}
